.main {
    display: flex;
    justify-content: center;
    color: #AFC6E1;
    padding: 116px 0 0 0;
}

.maincontainer {
    min-width: 320px;
    width: 1219px;
    padding: 80px 0 160px 0;
}

.heading {
    font-weight: 700;
    font-style: italic;
    font-size: 43px;
    text-transform: uppercase;
    line-height: 160%;
    color: white;
    text-shadow: 3px 3px 0 #2ED4E2, 0 0 20px #73F4FF;
    white-space: pre-line;
    padding: 0 0 100px 0;
}

.maincontainerleftright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 100px 0;
}

.maincontainerleft {
    width: 696px;
}

.mainimg {
    padding: 0 0 45px 0;
}

.maintext {
    padding: 13px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 170%;
}

.maintexth5 {
    padding: 80px 0 0 0;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    line-height: 71%;
    color: white;
}
.maintexth5plus23pxbottom {
    padding: 80px 0 32px 0;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    line-height: 71%;
    color: white;
}

.maintextvote {
    padding: 27px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 70%;
    color: #B0C6E1;
}

.maintextvotespan {
    padding: 27px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 70%;
    color: white;
}

.maintextvotetimespan {
    padding: 27px 0 0 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 70%;
    color: white;
}

.maintexthide {
    padding: 13px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 170%;
}

.maintextshow {
    display: none;
}

.maincontainerright {
    width: 416px;
}

.yellowbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px 0 7px;
    width: 404px;
    height: 76px;
    background: linear-gradient(90deg, #FCF565 0%, #D5793F 100%);
    box-shadow: 0 0 20px rgba(233, 184, 83, 0.5);
    border-radius: 3px;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    color: #672500;
    transform: skew(-11deg);
    cursor: pointer;
}
.yellowbutton:hover {
    background: linear-gradient(90deg, #FCF565 0%, #D5793F 100%);
    box-shadow: 0 0 30px rgba(233, 184, 83, 0.8);
    color: white;
    transition: 300ms;
}
.yellowbuttontext {
    transform: skew(11deg);
}

.cyanpinkbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.cyanbutton {
    margin: 0 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 76px;
    box-shadow: 0 0 5px #67F3FF;
    border: 2px solid #67F3FF;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    text-shadow: 0 0 5px #67F3FF;
    line-height: 24px;
    color: #67F3FF;
    transform: skew(-12deg);
    cursor: pointer;
}
.cyanbutton:hover {
    background: #67F3FF;
    border: 2px solid #67F3FF;
    box-sizing: border-box;
    box-shadow: 0 0 20px #67F3FF;
    border-radius: 3px;
    color: #4537B7;
    transition: 300ms;
}
.cyanbuttontext {
    transform: skew(12deg);
}

.pinkbutton {
    margin: 0 7px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 76px;
    box-shadow: 0 0 5px #AC50D2;
    border: 2px solid #AC50D2;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    text-shadow: 0 0 5px #AC50D2;
    line-height: 24px;
    color: #AC50D2;
    transform: skew(-12deg);
    cursor: pointer;
}
.pinkbutton:hover {
    background: #AC50D2;
    border: 2px solid #AC50D2;
    box-sizing: border-box;
    box-shadow: 0 0 20px #AC50D2;
    border-radius: 3px;
    color: #4537B7;
    transition: 300ms;
}
.pinkbuttontext {
    transform: skew(12deg);
}

.line {
    padding: 46px 0 15px 0;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.social {
    margin: 0 7px 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 76px;
    cursor: pointer;
    background: #201C6C;
    border-radius: 2px;
    transform: skew(-11deg);
}
.social:hover {
    background: linear-gradient(90deg, #AC50D2 0%, #4537B7 100%);
    box-shadow: 0 0 11px #7743C4;
    border-radius: 3px;
    transition: 300ms;
}
.socialimg {
    transform: skew(11deg);
}

.maincontainerbottom {
    width: 696px;
}

.maininput {
    background: #0E0E5B;
    margin: 50px 0 0 0;
    height: 267px;
}

.maintextcomment {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #4A5296;
    margin: 28px 0 14px 0;
}

.maintextanswer {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2ED4E2;
    text-shadow: 0 0 15px rgba(115, 244, 255, 0.8);
    margin: 22px 0 0 0;
    cursor: pointer;
}

.maintexth70pxright {
    padding: 0 0 0 70px;
}

.maintextcancel {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2ED4E2;
    text-shadow: 0 0 15px rgba(115, 244, 255, 0.8);
    margin: 16px 0 -25px 0;
    cursor: pointer;
}

.maintextinput {
    padding: 25px 31px 33px 31px;
    font-size: 18px;
    font-weight: 600;
    line-height: 170%;
}

textarea {
    width: 636px;
    height: 255px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #AFC6E1;
    outline: none;
    resize: none;
}

.maintextarea {
    background: #0E0E5B;
    margin: 50px 0 30px 0;
    padding: 25px 30px 0 30px;
}

.textareaandbutton {
    display: inline-block;
    position: relative;
}

.textareabutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: 0;
    right: 39px;
    width: 76px;
    height: 76px;
    cursor: pointer;
    background: linear-gradient(90deg, #AC50D2 0%, #4537B7 100%);
    box-shadow: 0 0 11px #7743C4;
    border-radius: 2px;
    transform: skew(-12deg);
}
.textareabutton:hover {
    background: linear-gradient(90deg, #4537B7 0%, #AC50D2 100%);
    box-shadow: 0 0 11px #7743C4;
    border-radius: 2px;
    transition: 300ms;
}
.textareabuttonimg {
    transform: skew(12deg);
}

.textareabutton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: -36px;
    right: 39px;
    width: 76px;
    height: 76px;
    cursor: pointer;
    background: linear-gradient(90deg, #AC50D2 0%, #4537B7 100%);
    box-shadow: 0 0 11px #7743C4;
    border-radius: 2px;
    transform: skew(-12deg);
}
.textareabutton2:hover {
    background: linear-gradient(90deg, #4537B7 0%, #AC50D2 100%);
    box-shadow: 0 0 11px #7743C4;
    border-radius: 2px;
    transition: 300ms;
}



@media (min-width: 768px) and (max-width: 1299px) {
    .main {
        padding: 80px 0 0 0;
    }
    .maincontainer {
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*flex-direction: column;*/
        padding: 50px 0 0 0;
    }
    .heading {
        padding: 0 0 0 15px;
        font-size: 37px;
        line-height: 40px;
    }
    .maincontainerleft {
        width: 738px;
        flex-direction: column;
    }
    .mainimg {
        width: 100%;
        padding: 50px 0 0 0;
    }
    .maintext {
        padding: 12px 0 0 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 160%;
    }
    .maintexthide {
        display: none;
    }
    .maintextshow {
        display: flex;
        padding: 15px 0 0 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 160%;
        color: #2ED4E2;
        text-shadow: 0 0 5px #73F4FF;
    }
}

@media (max-width: 767px) {
    .main {
        padding: 0;
    }
    .maincontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .heading {
        padding: 13px 0 0 16px;
        font-size: 28px;
        line-height: 34px;
        text-shadow: 2px 2px 0 #2ED4E2, 0 0 20px #73F4FF;
    }
    .maincontainerleft {
        width: 288px;
        flex-direction: column;
    }
    .mainimg {
        width: 288px;
        padding: 0 0 0 0;
    }
    .maintext {
        padding: 12px 0 0 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 160%;
    }
    .maintexthide {
        display: none;
    }
    .maintextshow {
        display: flex;
        padding: 12px 0 0 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 71%;
        color: #2ED4E2;
        text-shadow: 0 0 5px #73F4FF;
    }
}
