.footer2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #09095A;
    width: 100%;
    height: 98px;
}

.footermenucontainer {
    display: flex;
    flex-direction: column;
    width: 1800px;
    height: 58px;
    margin: -20px 60px 0 60px;
}

.footermenucontainer320 {
    display: none;
}

.footermenutext {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 0 0;
}

.footermenutextspan {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #B0C6E1;
}
.footer2link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #B0C6E1;
    text-decoration: none;
    cursor: pointer;
}
.footer2email {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2ED4E2;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1299px) {
    .footer2 {
        height: 60px;

    }
    .footermenucontainer {
        margin: -20px 15px 0 15px;
    }
    .footermenutextspan {
        font-size: 12px;
        line-height: 15px;
    }
    .footer2link {
        font-size: 12px;
        line-height: 15px;
    }
    .footer2email {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 767px) {
    .footer2 {
        height: 171px;
    }
    .footermenucontainer {
        display: none;
    }
    .footermenucontainer320 {
        display: flex;
        flex-direction: column;
        width: 1800px;
        height: 58px;
        margin: 0 16px 0 16px;
    }

    .footermenutext {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .footermenutextspan {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 0 0;
    }
    .footer2link {
        font-size: 12px;
        line-height: 15px;
        margin: 20px 0 0 0;
    }
    .footer2email {
        font-size: 12px;
        line-height: 15px;
        margin: 40px 0 0 0;
    }
    .paddingtop12px {
        padding: 12px 0 0 0;
    }
}

