.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09095A;
    width: 100%;
    height: 116px;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    width: 1800px;
    margin: 0 51px 0 51px;
}

.navbarimg {
    display: flex;
    height: 36px;
}

.footerlinks {
    display: flex;
    align-items: center;
}

.footerlink {
    padding: 0 0 0 60px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}



@media (min-width: 768px) and (max-width: 1299px) {
    .footer {
        width: 100%;
        height: 84px;
        border-bottom-style: none;
        margin: 140px 0 0 0;
    }
    .footercontainer {
        margin: 0 15px 0 15px;
    }
    .navbarimg {
        display: flex;
        height: 24px;
    }
    .footerlinks {
        display: flex;
    }
    .footerlink {
        padding: 10px 0 0 60px;
        font-size: 14px;
        line-height: 9px;
    }
}

@media (max-width: 767px) {
    .footer {
        width: 100%;
        height: 120px;
        border-bottom-style: none;
        margin: 87px 0 0 0;
    }
    .footercontainer {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 24px;
        margin: 0;
        padding: 0 16px 0 16px;
    }
    .footerlinks {
        display: flex;
        flex-direction: column;
    }
    .footerlink {
        padding: 10px 0 0 0;
        font-size: 14px;
        align-self: flex-start;
    }
    .navbarimg {
        height: 24px;
        margin: -20px 0 0 0;
    }
 }
